<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{this.screencast.metadata.attributes.title}}</title>
        <!-- Required stylesheet -->
        <link rel="stylesheet" media="screen" href="./libs/deck.js/core/deck.core.css">

        <!-- Extension CSS files go here. Remove or add as needed. -->
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/goto/deck.goto.css">
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/menu/deck.menu.css">
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/navigation/deck.navigation.css">
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/status/deck.status.css">
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/scale/deck.scale.css">

        <!-- Style theme. More available in /themes/style/ or create your own. -->
        <link rel="stylesheet" media="screen" href="./libs/deck.js/themes/style/web-2.0.css">

        <!-- Transition theme. More available in /themes/transition/ or create your own. -->
        <link rel="stylesheet" media="screen" href="./libs/deck.js/themes/transition/horizontal-slide.css">

        <!-- Basic black and white print styles -->
        <link rel="stylesheet" media="print" href="./libs/deck.js/core/print.css">

        <!-- Required Modernizr file -->
        <script src="./libs/deck.js/modernizr.custom.js"></script>
        
        <style>
            /* temporary */
            img.background {
                position: absolute;
                left: 0px;
                top: 0px;
            }

            .tooltip {
                display: block;
                position: absolute;
                padding: 4px;
                margin: 2px;
                border: 2px black solid;
                font-size: 14px;
            }

            .mouse{
                position: absolute;
                width: 15px;
            }
        </style>
    </head>
    <body>
    <div class="deck-container">
        <div id="myPresentation">
            {{#if this.screencast.screens.models}}
                <!-- iterate on all the screens -->
                {{#each this.screencast.screens.models}}
                <section class="slide" id="screen_{{this.id}}">
                    <!-- iterate on all objects, show only images -->
                    {{#each this.attributes.objects.models}}
                    {{#if isImage }}
                    <img src="{{this.attributes.img}}" class="background" style="width:{{screencastWidth}}; height:{{screencastHeight}};">
                    {{/if}}
                    {{#if isTooltip }}
                    <div class="slide">
                        <div class="tooltip"
                             style="background-color: {{this.attributes.color}}; width: {{this.attributes.width}}; top:{{normalizedToPixel (screencastHeight) this.attributes.posy}}; left: {{normalizedToPixel (screencastWidth) this.attributes.posx}};">
                            {{this.attributes.text}}
                        </div>
                    </div>
                    {{/if}}
                    {{#if isMouse}}
                    <img src="./img/cursor.png" class="mouse"
                         style="top: {{normalizedToPixel (screencastHeight) this.attributes.posy}}; left:{{normalizedToPixel (screencastWidth) this.attributes.posx}};">
                    {{/if}}
                    {{/each}}
                </section>
                {{/each}}
            {{else}}
                <section class="slide">
                </section>
            {{/if}}
        </div>
    </div>
    <!-- Required JS files. -->
    <script src="./libs/deck.js/jquery.min.js"></script>
    <script src="./libs/deck.js/core/deck.core.js"></script>

    <!-- Extension JS files. Add or remove as needed. -->
    <script src="./libs/deck.js/extensions/menu/deck.menu.js"></script>
    <script src="./libs/deck/deck.js/extensions/goto/deck.goto.js"></script>
    <script src="./libs/deck.js/extensions/status/deck.status.js"></script>
    <script src="./libs/deck.js/extensions/navigation/deck.navigation.js"></script>
    <script src="./libs/deck.js/extensions/scale/deck.scale.js"></script>

    <!-- Initialize the deck. You can put this in an external file if desired. -->
    <script>
        $(function () {
            $.deck('.slide');
        });
    </script>
    </body>
</html>
