<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Dahu presentation</title>
    </head>
    <body>
        <div id="myPresentation">
            <!-- iterate on all the screens -->
            {{#each this.screens.models}}
            <div id="screen_{{id}}">
                <!-- iterate on all objects, show only images -->
                {{#each attributes.objects.models}}
                    {{#if attributes.img}}
                        <img src="{{attributes.img}}">
                    {{/if}}
                {{/each}}
            </div>
            {{/each}}
        </div>
    </body>
</html>