<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>{{this.screencast.attributes.metadata.title}}</title>
        <!-- Required stylesheet -->
        <link rel="stylesheet" media="screen" href="./libs/deck.js/core/deck.core.css">

        <!-- Extension CSS files go here. Remove or add as needed. -->
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/goto/deck.goto.css">
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/menu/deck.menu.css">
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/navigation/deck.navigation.css">
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/status/deck.status.css">
        <link rel="stylesheet" media="screen" href="./libs/deck.js/extensions/scale/deck.scale.css">

        <!-- Style theme. More available in /themes/style/ or create your own. -->
        <link rel="stylesheet" media="screen" href="./libs/deck.js/themes/style/web-2.0.css">

        <!-- Transition theme. More available in /themes/transition/ or create your own. -->
        <link rel="stylesheet" media="screen" href="./libs/deck.js/themes/transition/horizontal-slide.css">

        <!-- Basic black and white print styles -->
        <link rel="stylesheet" media="print" href="./libs/deck.js/core/print.css">

        <!-- Required Modernizr file -->
        <script src="./libs/deck.js/modernizr.custom.js"></script>
        <script src="./libs/fit.js/fit.js"></script>
        
        <style>
            /* temporary */
            img.background {
                position: absolute;
                left: 0px;
                top: 0px;
            }

            .tooltip {
                display: block;
                position: absolute;
                padding: 4px;
                margin: 2px;
                border: 2px black solid;
                font-size: 14px;
            }

            .mouse{
                position: absolute;
                width: 15px;
            }
        </style>
    </head>
    <body>
    <div class="deck-container" style="width: {{screencastWidth}}; height: {{screencastHeight}};">
        <div id="myPresentation">
            {{#if this.screencast.attributes.screens.models}}
                <!-- iterate on all the screens -->
                {{#each this.screencast.attributes.screens.models}}
                <section class="slide" id="{{id}}" data-dahu-animator="anim_{{slugify id}}">
                    <!-- iterate on all objects, show only images -->
                    {{#each attributes.objects.models}}
                    {{#if isImage }}
                    <img src="{{attributes.img}}" class="background" style="width:{{screencastWidth}}; height:{{screencastHeight}};">
                    {{/if}}
                    {{#if isTooltip }}
                    <div class="tooltip" id="{{attributes.id}}"
                        style="background-color: {{attributes.color}}; width: {{attributes.width}}; top:{{normalizedToPixel (screencastHeight) attributes.posy}}; left: {{normalizedToPixel (screencastWidth) attributes.posx}};">
                        {{{attributes.text}}}
                    </div>
                    {{/if}}
                    {{#if isMouse}}
                    <img src="./img/cursor.png" class="mouse" id="{{attributes.id}}"
                         style="top: {{normalizedToPixel (screencastHeight) attributes.posy}}; left:{{normalizedToPixel (screencastWidth) attributes.posx}};">
                    {{/if}}
                    {{/each}}
                    <script>
                        var anim_{{slugify id}} =
                        {
                            "target": "#{{id}}",
                            "actions":
{{{stringify attributes.actions 4 7}}}
                        };
                    </script>
                </section>
                {{/each}}
            {{else}}
                <section class="slide">
                </section>
            {{/if}}
        </div>
    </div>
    <!-- Required JS files. -->
    <script src="./libs/deck.js/jquery.min.js"></script>
    <script src="./libs/deck.js/core/deck.core.js"></script>

    <!-- Extension JS files. Add or remove as needed. -->
    <script src="./libs/deck.js/extensions/menu/deck.menu.js"></script>
    <script src="./libs/deck/deck.js/extensions/goto/deck.goto.js"></script>
    <script src="./libs/deck.js/extensions/status/deck.status.js"></script>
    <script src="./libs/deck.js/extensions/navigation/deck.navigation.js"></script>
    <script src="./libs/deck.js/extensions/scale/deck.scale.js"></script>
    <script src="./libs/deck.js/extensions/animator/animator.js"></script>
    <script src="./libs/deck.js/extensions/animator/deck.animator.js"></script>

    <!-- Initialize the deck. You can put this in an external file if desired. -->
    <script>
        $(function () {
            $.deck('.slide');
            var body = $('body').get(0);
            var cont = $.deck('getContainer').get(0);			
            fit(cont, body, {
                hAlign: fit.CENTER,
                vAlign: fit.CENTER,
                watch: true,
                cover: false
            });
        });
    </script>
    </body>
</html>
