<nav class="navbar navbar-main" role="navigation">
    <div class="navbar-header pull-left">
        <button id="toolbar-action-properties" type="button" class="btn navbar-btn"><i class="fa fa-bars"></i></button>
        <div class="navbar-title">{{metadata.title}}</div>
    </div>
    <div class="navbar-header pull-right">
        <button id="toolbar-action-preview" type="button" class="btn navbar-btn"><i class="glyphicon glyphicon-eye-open"></i></button>
        <button id="toolbar-action-fullscreen" type="button" class="btn navbar-btn"><i class="glyphicon glyphicon-fullscreen"></i></button>
    </div>
</nav>