// Reset
@import 'compass/reset';

// Definition
@import 'colors';
@import 'fonts';
@import 'bootstrap';

html, body {
    height: 100%;
}

// Application layout

%panel {
    background-color: $dahu-panel-background-color;
}

#main-toolbar {
    position: absolute;
    top: 0px;
    height: 40px;
    width: 100%;
}

#filmstrip {
    @extend %panel;
    position: absolute;
    top: 40px;
    left: 0px;
    bottom: 0px;
    width: 220px;
    overflow-x: visible;
    overflow-y: scroll;

    .screen {
        margin: 20px;

        .image {
            width: 150px;

            img {
                width: 100%;
            }
        }
    }
}

#workspace {
    @extend %panel;
    position: absolute;
    top: 40px;
    left: 220px;
    right: 0px;
    bottom: 0px;

    #workspace-screen {
        @extend %panel;
        position: absolute;
        top: 30px;
        left: 0px;
        right: 220px;
        bottom: 220px;
    }

    #workspace-actions {
        @extend %panel;
        position: absolute;
        top: 30px;
        right: 0px;
        bottom: 0px;
        width: 220px;
        padding-left: 15px;
        border-left: 5px solid #e5e5e5;
        overflow-x: visible;
        overflow-y: scroll;
    }

    #workspace-note {
        @extend %panel;
        position: absolute;
        height: 220px;
        left: 0px;
        right: 220px;
        bottom: 0px;
        border-top: 5px solid #e5e5e5;
    }
}

// Workspace content style

#workspace-screen {
    padding: 40px;
    background-color: $dahu-workspace-screen-editor-background-color;

    .screen {
        position: relative;
        width: 100%;
        height: 100%;

        .container {
            // reset padding and margin added by bootstrap
            padding: 0px;
            margin: 0px;
        }

        .mouse, .image, .tooltip {
            position: absolute;
        }

        // Image
        .image.background {
            z-index: 0;

            img {
                width: 100%;
                height: auto;
            }
        }

        // Mouse
        .mouse {
            //@todo move it to model
            z-index: 1000;

            img {
                border: 0px;
                width: 10px;
                height: 10px;
            }
        }

        // Tooltip
        .tooltip {
            @include opacity(0.8);
            min-width: 200px;
            min-height: 50px;
            padding: 10px;
        }
    }
}

#workspace-actions {
    .action {
        position: relative;
        border-style: solid;
        border-bottom-width: 75%;
        width: 100%;

        .actionDelete {
            display: none;
            z-index: 10;
            top:0;
            right:0;
            position: absolute;
        }
    }

    .action:hover .actionDelete {
        transition: all 1s;
        display: block;
    }

    .action:hover {
        background-color: rgba(200,200,200,1);
        cursor: pointer;
    }

    .action::after {
        content: '';
        position: absolute;
        width: 50%;
        left: 25%;
        bottom: -5px;
        border-bottom: 1px solid #666;
    }

    .action:last-child::after {
        border-bottom: none;
    }
    
    .actionsListContainer {
        position: relative;
        width: 100%;
        height: 100%;

        #actionsToolbar {
           position: absolute;
           bottom: 0;
           left: 0;
           width: 100%;
           height: 50px;
           z-index: 10;

           #addActionChoice {
               left:0;
           }

           #buttonAdd {
               right:0;
           }
       }

       #actionsList {
           position: absolute;
           width: 100%;
           height: calc(100% - 50px);
           overflow-y: auto;
       }
    }
}