.scroll {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

#app-container{
    position: absolute;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin:0px;
    width: 100%;
    height: 100%;
}

#navbar-container{
    position: absolute;
    top: 0px;
    height:40px;
    margin:0px;
    width:100%;
}

#toolbar-container {
    position: absolute;
    top: 40px;
    height: 40px;
    margin: 0px;
    width: 100%;
}

#main-container{
    position: absolute;
    top: 80px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
}

#image-bar-container{
    position:absolute;
    width: 200px;
    top: 0px;
    bottom: 20px;
    margin: 0px;
    border:1px solid black;
}

#current-image-container{
    position: absolute;
    left: 200px;
    top: 0px;
    right: 0px;
    bottom: 20px;
    margin: 0px;
    padding: 4px;
    border:1px solid black;
}

#action-editor-container {
    position: absolute;
    left: 200px;
    right: 0px;
    bottom: 20px;
    margin: 0px;
    padding: 4px;
    height: 200px;
    background-color: gainsboro;
    border: 1px solid black;
}

#state-bar-container{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0px;
    background : Silver;
}

#preview-image{
    position : relative;
    margin: 0px;
    list-style: none;
}

.my-cursor{
    position : absolute;
}

.selected-image { 
    border: 2px solid red;
    border-radius: 6px;
}

.selected-object {
    border: 2px solid red;
    margin:2px;
    border-radius: 4px;
}

.offset{
    position: relative;
    top: 20px;
    left: 20px;
}

.debug1 {
    background:blue;
}

.debug2 {
    background:red;
}

.debug3 {
        border:3px solid yellow;
}

.debug4 {
        border:3px solid green;
}

.debug5 {
    background:black;
}

.debug6 {
    border:6px solid magenta;
}

.debug7 {
    border:3px solid darkorange;
}
