.scroll {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

#app-container{
    position: absolute;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin:0px;
    width: 100%;
    height: 100%;
}

#navbar-container{
    position: absolute;
    top: 0px;
    height:40px;
    margin:0px;
    width:100%;
}

#toolbar-container {
    position: absolute;
    top: 40px;
    height: 40px;
    margin: 0px;
    width: 100%;
}

#main-container{
    position: absolute;
    top: 82px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
}

#image-bar-container{
    position:absolute;
    width: 200px;
    top: 0px;
    bottom: 20px;
    margin: 0px;
    border-right: 1px solid grey;
}

#current-image-container{
    position: absolute;
    left: 200px;
    right: 0px;
    bottom: 20px;
    margin: 0px;
    padding: 4px;
}

.extended-image-container {
    top: 0px;
}

.reduced-image-container {
    top: 108px;
}

#action-editor-container {
    position: absolute;
    left: 200px;
    right: 0px;
    top: 0px;
    margin: 0px;
    padding: 4px;
    height: 100px;
    background-color: gainsboro;
    border: 1px solid grey;
}

#edit-mouse-x, #edit-mouse-y {
    width: 40px;
}

.action-editor {
    margin-top: 4px;
    height: 80px;
}

#state-bar-container{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0px;
    background : Silver;
    border-top: 1px solid grey;
}

#mouse-x-edit, #mouse-y-edit {
    width: 30px;
}

#preview-image{
    position : absolute;
    margin: 0px;
    list-style: none;
}

.my-cursor{
    position : absolute;
}

.selected-image { 
    border: 2px solid red;
    border-radius: 6px;
}

.selected-object {
    margin: 2px;
    border: 2px solid red;
    margin:2px;
    border-radius: 4px;
}

.offset {
    position: relative;
    top: 20px;
    left: 20px;
}

#popup-manager {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#modal-popups {
    position: absolute;
    background: black;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#centered-popups {
    position: absolute;
    top: 50%;
    left: 50%;
}

.popup-title {
    position: absolute;
    padding: 4px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 18px;
    margin-bottom: 2px;
    border-bottom: 2px inset lightgray;
}

.popup-content {
    position: absolute;
    padding: 4px;
    padding-top: 16px;
    padding-bottom: 8px;
    top: 18px;
}

.ok-cancel-popups-control {
    position: absolute;
    padding: 4px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: right;
    margin-top: 2px;
    border-top: 2px inset lightgray;
}

#set-width, #set-height {
    position: relative;
    top: -4px;
}

#required-width, #required-height {
    width: 40px;
}

#output-settings-popup {
    position: relative;
    left: -115px; /* width / 2 */
    width: 230px;
    top: -110px;  /* height / 2 */
    height: 220px;
    background: white;
    margin: 4px;
    border: 4px inset lightgray;
}