.scroll {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

#app-container{
    position: absolute;
    top:0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin:0px;
    width: 100%;
    height: 100%;
}

#navbar-container{
    position: absolute;
    top: 0px;
    height:40px;
    margin:0px;
    width:100%;
}

#toolbar-container {
    position: absolute;
    top: 40px;
    height: 40px;
    margin: 0px;
    width: 100%;
}

#main-container{
    position: absolute;
    top: 82px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
}

#image-bar-container{
    position:absolute;
    width: 200px;
    top: 0px;
    bottom: 20px;
    margin: 0px;
    border-right: 1px solid grey;
}

#current-image-container{
    position: absolute;
    left: 200px;
    top: 0px;
    bottom: 20px;
    margin: 0px;
    padding: 4px;
}

.extended-image-container {
    right: 0px;
}

.reduced-image-container {
    right: 170px;
}

#action-editor-container {
    position: absolute;
    width: 160px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 4px;
    background-color: gainsboro;
    margin-left: 1px;
    border-left: 1px solid grey;
}

#edit-mouse-x, #edit-mouse-y {
    width: 40px;
}

.action-editor {
    
}

#state-bar-container{
    position: absolute;
    height: 20px;
    width: 100%;
    bottom: 0px;
    background : Silver;
    border-top: 1px solid grey;
}

#mouse-x-edit, #mouse-y-edit {
    width: 30px;
}

#preview-image{
    position : absolute;
    margin: 0px;
    list-style: none;
}

.my-cursor{
    position : absolute;
}

.selected-image { 
    border: 2px solid red;
    border-radius: 6px;
}

.selected-object {
    margin: 2px;
    border: 2px solid red;
    margin:2px;
    border-radius: 4px;
}

.offset {
    position: relative;
    top: 20px;
    left: 20px;
}

#popup-manager {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

#modal-popups {
    position: absolute;
    background: black;
    opacity: 0.6;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.popup-title {
    position: absolute;
    padding: 4px;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 18px;
    margin-bottom: 2px;
    border-bottom: 2px inset lightgray;
}

.popup-content {
    position: absolute;
    padding: 4px;
    padding-top: 8px;
    padding-bottom: 8px;
    top: 28px;
}

.ok-cancel-popups-control {
    position: absolute;
    padding: 4px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: right;
    margin-top: 2px;
    border-top: 2px inset lightgray;
}

#set-width, #set-height {
    position: relative;
    top: -4px;
}

#required-width, #required-height {
    width: 40px;
}

#output-settings-popup {
    position: absolute;
    width: 230px;
    height: 220px;
    background: white;
    margin: 4px;
    border: 4px inset lightgray;
}

#set-capture-key-popup {
    position: absolute;
    width: 300px;
    height: 280px;
    background: white;
    margin: 4px;
    border: 4px inset lightgray;
}

#about-us-popup {
    position: relative;
    width: 400px;
    height: 420px;
    background: white;
    margin: 4px;
    border: 4px inset lightgray;
}

/* special for the scrolling of about us popup */
#about-us-popup .popup-content {
    height: 336px;
}