.object-list{
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.mouse-cursor{
    position: absolute;
    top: 0px;
    left : 0px;
}

.control{
    position: absolute;
}

.screen{
    position: absolute;
}
