.screen {
    position: relative;
    width : 100%;
}

#my-dahu-presentation{
    position : relative;
}

.mouse-cursor{
    position : absolute;
    margin: 0px;
}

.my-viewer{
    position: relative;
    width: 100%; /* put the same value as '.screen' width (100% or in PX) */
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.control {
    position: relative;
}