.object-list {
    position: absolute;
    margin: 0px;
    padding: 0px;
}

.mouse-cursor {
    position: absolute;
}

.control {
    position: relative;
}

.background {
    position: absolute;
}

.tooltip {
    position: absolute;
    width: 100px;
    padding: 4px;
    margin: 2px;
    border: 2px black solid;
}